.container {
  display: flex;
  border: 1px solid red;
  flex-direction: column-reverse;
  background-color: cadetblue;
}
.child1 {
  border: 1px solid chartreuse;
  background-color: cadetblue;
  height: 200px;
  width: 200px;
}
.child2 {
  border: 1px solid chocolate;
  background-color: chocolate;
  height: 200px;
  width: 200px;
}
.child3 {
  border: 1px solid coral;
  background-color: coral;
  height: 200px;
  width: 200px;
}
.child4 {
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  height: 200px;
  width: 200px;
}
